@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Nunito&display=swap');

/* RESET */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
    max-width: 1200px;
    /* height: auto; */
    height: 500px;
    object-fit: cover;
}

input,
button,
textarea {
    font: inherit;
}

/* VARIABLES */
:root {
    /* Fonts */
    --FF: "Nunito", sans-serif;
    --FF-HEADINGS: "Fugaz One", cursive;
    --FS: clamp(1rem, 2.2vh, 1.5rem);

    --FS: clamp(1rem, 2.2vh, 1.5rem);
    /* Existing value */
    --FS-SMALL: clamp(0.8rem, 1.8vh, 1rem);

    /* Colors */
    --BGCOLOR-FADE: rgb (252, 220, 160);
    --BGCOLOR: orange;
    --BGIMAGE: linear-gradient(to bottom, var(--BGCOLOR), var(--BGCOLOR-FADE));
    --BODY-BGCOLOR: #FFF;
    --BORDER-COLOR: #333;
    --BUTTON-COLOR: #FFF;
    --FONT-COLOR: #000;
    --HEADER-BGCOLOR: #000;
    --HEADER-COLOR: #FFF;
    --HERO-BGCOLOR: rgba(51, 178, 51, 0.75);
    --HERO-COLOR: #FFF;
    --HIGHLIGHT-COLOR: rgb(51, 178, 51);
    --LINK-ACTIVE: orange;
    --LINK-COLOR: #000;
    --LINK-HOVER: hsla(0, 0%, 0%, 0.6);
    --NAV-BGCOLOR: #FFF;

    /* BORDERS */
    --BORDERS: 1px solid var(--BORDER-COLOR);
    --BORDER-RADIUS: 15px;

    /* STANDARD PADDING */
    --PADDING-TB: 0.25em;
    --PADDING-SIDE: 2.5%;

    /* STANDARD MARGIN */
    --MARGIN: clamp(1em, 2.5vh, 1.5em) 0;


}


@media (prefers-color-scheme: dark) {
    :root {
        --BGCOLOR-FADE: gray;
        --BGCOLOR: #000;
        --BODY-BGCOLOR: #333;
        --BORDER-COLOR: whitesmoke;
        --BUTTON-COLOR: #000;
        --FONT-COLOR: whitesmoke;
        --HEADER-COLOR: whitesmoke;
        --HERO-COLOR: #333;
        --HIGHLIGHT-COLOR: whitesmoke;
        --LINK-ACTIVE: rgb(252, 200, 103);
        --LINK-COLOR: whitesmoke;
        --LINK-HOVER: orange;
        --NAV-BGCOLOR: rgb(20, 20, 20);
    }
}


/* UTILITY CLASSES */
.offscreen {
    position: absolute;
    left: -10000px;
}

.nowrap {
    white-space: nowrap;
}

.wrap {
    white-space: normal;
}

.center {
    text-align: center;
}


/* GENERAL STYLES */
html {
    /* font-size: 22px; */
    scroll-behavior: smooth;
    font-size: var(--FS);
    font-family: var(--FF);
    background-color: var(--BGCOLOR);
    background-image: var(--BGIMAGE);


}

body {
    background-color: var(--BODY-BGCOLOR);
    color: var(--FONT-COLOR);
    width: 100%;
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
    border-left: 1px solid #333;
    border-right: 1px solid #333;

}

th,
td,
caption {
    border: 1px solid #333;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: separate;
    padding: .5rem;
}

h1,
h2,
h3 {
    font-family: var(--FF-HEADINGS);
    letter-spacing: .1em;
}

h2,
h3 {
    margin-bottom: 1em;
    color: var(--HIGHLIGHT-COLOR);
}

p {
    line-height: 1.5;
}

a:any-link {
    color: var(--LINK-COLOR);
}

a:hover,
a:focus-visible {
    color: var(--LINK-HOVER);
}

/* HEADER */
.header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.header__h1 {

    text-align: center;
    background-color: var(--HEADER-BGCOLOR);
    color: var(--HEADER-COLOR);
    /* padding: var(--PADDING-TB) var(--PADDING-SIDE); */
    padding: .6em 2.5%;

}

.header__nav {
    background-color: var(--NAV-BGCOLOR);
    border-bottom: var(--BORDERS);
    font-weight: bold;
    box-shadow: 0 6px 5px -5px var(--BORDER-COLOR);
}

.header__ul {
    padding: var(--PADDING-TB) var(--PADDING-SIDE);
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    /* text-decoration: none; */
}

.header__ul li a {
    text-decoration: none;
}

/* HERO */
.hero {
    position: relative;

}

.hero__h2 {
    background-color: var(--HERO-BGCOLOR);
    color: var(--HERO-COLOR);
    padding: .25em .5em;
    text-shadow: 2px 2px 5px var(--BORDER-COLOR);
    position: absolute;
    top: -100px;
    left: 15px;
    animation: showWelcome .5s ease-in-out forwards;
    margin-top: 20px;
}

@keyframes showWelcome {
    0% {
        top: -20px;
        transform: skew(0deg, -5deg) scaleY(0);

    }

    80% {
        top: 30px;
        transform: skew(10deg, -5deg) scaleY(1.2);
    }

    100% {
        top: 20px;
        transform: skew(-10deg, -5deg) scaleY(1);
    }
}


.footer {
    /* position: sticky; */
    position: static;
    bottom: 0;
    background-color: var(--HEADER-BGCOLOR);
    color: var(--HEADER-COLOR);
    padding: var(--PADDING-TB) var(--PADDING-SIDE);
    text-align: center;
}

/*  MAIN */
.main {
    padding: var(--PADDING-TB) var(--PADDING-SIDE);
}

.main__article {
    scroll-margin-top: 6.5rem;
    margin: var(--MARGIN);
}

.main__article:first-child {
    margin-top: 1em;
}

.main__article:last-child {
    min-height: calc(100vh - 20rem);
}

/* || ABOUT  */

.about__trivia {
    margin-top: 1em;
}

.about__trivia-answer {
    margin-top: 1em;
}


/* || CONTACT */
.contact__h2 {
    margin: 0;
}

.contact__fieldset {
    border: none;
}

.contact__p {
    margin: 1em 0;
}

.contact__label {
    display: block;
    font-weight: bold;
}

.contact__input,
.contact__textarea {
    padding: 0.5em;
    border-radius: var(--BORDER-RADIUS);
    border-width: 2px;
}

.contact__button {
    padding: .5em;
    border-radius: var(--BORDER-RADIUS);
    background-color: var(--HIGHLIGHT-COLOR);
    color: var(--BUTTON-COLOR);
    font-weight: bold;
}

/* MENU */

thead,
tbody,
tfoot,
tr {
    display: contents;
}

.menu__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "hd hd hd"
        "cr cr1 cr1p"
        "cr cr2 cr2p"
        "cr cr3 cr3p"
        "sf sf1 sf1p"
        "sf sf2 sf2p"
        "sf sf3 sf3p"
        "cs cs cs";
    gap: .1em;
    margin-bottom: 1em;
}

.menu__cr {
    grid-area: cr;
}

.menu__sf {
    grid-area: sf;
}

.menu__cs {
    grid-area: cs;
}

.menu__header,
.menu__item {
    width: 100%;
    padding: 1em;
    border: medium ridge var(--BORDER-COLOR);

}

.menu__item {
    display: grid;
    place-content: center;
}

thead th:first-child {
    border-top-left-radius: var(--BORDER-RADIUS);
}

thead th:last-child {
    border-top-right-radius: var(--BORDER-RADIUS);
}

tfoot td {
    border-bottom-left-radius: var(--BORDER-RADIUS);
    border-bottom-right-radius: var(--BORDER-RADIUS);
}

/* HOURS */
.main .hours dt {
    margin-top: 20px;
}

.backToTop {
    display: block;
    margin: 30px 0;
}


/* Hamburger Menu */
.header__hamburger {
    display: none;
    /* Hidden by default */
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    top: .6em;
    right: 1em;
    z-index: 2;
    /* Ensure it is above other elements */
}

.header__hamburger--close {
    display: none;
    /* Hidden by default */
    font-size: 2.6rem;
    cursor: pointer;
    position: absolute;
    top: .59em;
    right: .85em;
    z-index: 2;
    /* Ensure it is above other elements */
}

/*--- RESPONSIVE DISPLAY ---*/
@media screen and (max-width: 768px) {

    /*! Bienvenidos! caption */
    .hero__h2 {
        position: relative;
        top: auto;
        left: auto;
        text-align: center;
        animation: none;
    }

}

@media screen and (max-width:678px) {
    .header__h1 {
        font-size: 1.9em;
    }

    /*- General -*/
    .header__nav {
        display: flex;
        /* Show the nav */
        position: fixed;
        /* Fixed position */
        top: 0;
        right: -100%;
        /* Start off-screen to the right */
        background-color: var(--NAV-BGCOLOR);
        width: 50%;
        height: 100vh;
        /* Full height */
        z-index: 1;
        /* Ensure it is above other elements */
        flex-direction: column;
        /* Stack items vertically */
        justify-content: center;
        /* Center items */
        align-items: center;
        /* Center items */
        transition: right 0.3s ease-in-out;
        /* Smooth slide animation */
    }

    .header__h1 {
        padding: .6em 11%;
    }

    .header__ul {
        flex-direction: column;
        /* Stack items vertically */
        gap: 2rem;
        /* Space between items */
    }

    .header__hamburger {
        display: block;
        /* Show hamburger icon */
    }

    .header__hamburger--close {
        display: block;
        /* Show close button */
    }

    /* Class to slide the menu in */
    .header__nav.active {
        right: 0;
        /* Slide in from the right */
    }

    .header__nav.active .header__hamburger {
        display: none;
        /* Hide hamburger when menu is active */

    }
}

@media screen and (max-width:576px) {}


/*! Originally */
@media screen and (min-width:678px) {
    .header__h1::before {
        content: "🌮";
        white-space: nowrap;
    }

    .header__h1::after {
        content: '🌮';
        white-space: nowrap;
    }

    .menu__header,
    .menu__cr,
    .menu__sf,
    .menu__cs {
        font-size: 120%;
    }

    /* .header__h1 {
        font-size: 1.9em;
    } */

}

@media screen and (max-width: 480px) {
    .header__h1 {
        padding: .6em 12%;
    }

    /*! Contact Page  */

    .contact__input,
    .contact__textarea {
        width: 100%;
    }

    .contact__button {
        display: block;
        width: 100%;
        margin-bottom: 0.5rem;
    }

}