@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: "Roboto",sans-serif;
    min-height: 100vh;
    padding: 20px;
}


.container {
    max-width: 800px;
    min-height: 400px;
    margin-inline: auto;
    margin: 100px 0;
    border: 1px solid #000;
    display: flex;
    gap: 1rem;
    flex-direction: 
        /* column  */
        /* row   */
        /* row-reverse */
    ;
    justify-content: 
        center
    ;
    
    align-items: 
        center
    ;

    flex-wrap:
        /* nowrap  */
        wrap
        /* wrap-reverse*/
    ;
    

}

.box {
    /* min-width: 100px; */
    /* min-height: 100px; */
    width:100px;
    height: 100px;

    background-color: #000;
    color: #fff;
    font-size: 2rem;
    padding: .5rem;
}


/* --- SECTION 2  ---*/
.container2 {
    max-width: 800px;
    min-height: 400px;
    margin-inline: auto;
    margin: 100px 0;
    border: 1px solid #000;
    display: flex;

    flex-direction: 
        /*column*/ 
        row  
        /* row-reverse */
    ;

    flex-wrap: 
        nowrap 
        /* wrap */ 
        /* wrap-reverse*/
    ;

    /* flex-flow: row wrap; */

    text-align: center;
    justify-content: 
        /* space-around */
        center
    ;
    align-items: 
        center

    ;

    align-content: 
        /* space-evenly */
    ;

    gap:1rem;


      
}


.box2 {
    /* min-width: 100px; */
    /* min-height: 100px; */

    /* width:100px; */
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fff;
    font-size: 2rem;
    padding: .5rem;

    /* flex-basis: 100px; */
    /* flex-grow: 1; */
    /* flex-shrink: 1; */

    flex: 1 1 250px;
}

.box2:nth-child(3) {
    /* flex-grow: 2; */
    flex-shrink: 1;
}


